.logo {
  position: absolute;
  top: var(--spacing-s);
  left: var(--spacing-s);
  z-index: 1000;
  display: flex;
  row-gap: var(--spacing-s);
  background-color: var(--white);
  padding: var(--spacing-xs) var(--spacing-s);
  border-radius: var(--border-radius);
  font-size: var(--font-size);

  &-full {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-s);
    text-decoration: none;
    font-weight: 600;
    color: var(--blue);
  }
  &-dot {
    display: inline-block;
    width: var(--spacing-s);
    height: var(--spacing-s);
    border-radius: 50%;
    background-color: var(--light-blue);
  }

  &-name {
    text-decoration: none;
  }
}
.control-widget {
  position: absolute;
  bottom: var(--spacing-s);
  left: var(--spacing-s);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-s);
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
