@import "../../main.scss";
/*
ONLY A REMINDER-- ALL STYLES ARE DEFINED IN main.scss
:root {
--black: #333333;
  --white: #f0f0f0;
  --blue: #0066cc;
  --light-blue: #92bdf9;
  --white-transparent: rgba(240, 240, 240, 0.2);
  --black-transparent: rgba(51, 51, 51, 0.4);

  --border-radius: 8px;
  --font-size: 14px;
  --font-weight-regular: 400;

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 32px;
  --spacing-l: 64px;
} */
.area-selector-compact {
  display: flex;
  border-radius: var(--border-radius);
  justify-content: space-between;

  .area-button {
    background-color: var(--white);
    color: var(--black);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--light-blue);
    }
    &:focus {
      outline: none;
    }
    &.selected {
      background-color: var(--blue);
      color: var(--white);

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
