@import "../../main.scss";

.carousel__container {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-m);

  &-pinned {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-xs);
  }

  &-button {
    background-color: var(--blue);
    color: var(--white);
    display: inline-flex;
    max-width: fit-content;
  }
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.carousel::-webkit-scrollbar {
  display: none; /* WebKit */
}

.carousel-item {
  flex: 0 0 auto;
  width: 80px; /* Adjust based on your needs */
  height: 80px; /* Adjust based on your needs */
  margin-right: 10px;
  scroll-snap-align: start;
}

.carousel-item:last-child {
  margin-right: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
