.carousel__container {
  width: 100%;
  overflow: hidden;
}

.carousel__container-pinned {
  margin-bottom: 1rem;

  span {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
}

.carousel__wrapper {
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin; // For Firefox
  scrollbar-color: #888 #f1f1f1; // For Firefox

  // For Webkit browsers (Chrome, Safari, etc.)
  &::-webkit-scrollbar {
    height: 8px; // Height of the scroll bar
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; // Color of the track
  }

  &::-webkit-scrollbar-thumb {
    background: #888; // Color of the scroll thumb
    border-radius: 4px; // Rounded corners on the thumb
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; // Color of the thumb when hovered
  }
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-bottom: 1rem;
}

.carousel-item {
  flex: 0 0 auto;
  width: 150px; // Adjust this value based on your desired item width
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
