@import "../../main.scss";

.scene-card {
  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-s);
  background-color: var(--black-transparent);
  backdrop-filter: blur(10px);
  color: var(--white);
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  z-index: 100000; /* Ensure it's above other elements */
}

.clear-button {
  float: right;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
}

.clear-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
