.scene-card {
  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-s);
  background-color: var(--black-transparent);
  backdrop-filter: blur(10px);
  color: var(--white);
  padding: var(--spacing-s);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  width: 332px; /*calculated -pls don't change if not necessary*/
  z-index: 100000; /* Ensure it's above other elements */
  max-height: calc(100vh - var(--spacing-s) * 2);
  overflow: auto;
  box-sizing: border-box;
}

.select-area {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xs);
}

.clear-button {
  float: left;
  background-color: var(--white);
  border: var(--border-radius);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: var(--spacing-s);
}

.clear-button:hover {
  background-color: var(--light-blue);
}
