@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

body,
html,
#root,
button,
span {
  font-family: "Roboto Mono", monospace;
}
:root {
  --black: #333333;
  --white: #f0f0f0;
  --blue: #0066cc;
  --light-blue: #92bdf9;
  --white-transparent: rgba(240, 240, 240, 0.2);
  --black-transparent: rgba(51, 51, 51, 0.4);

  --border-radius: 8px;
  --font-size: 14px;
  --font-weight-regular: 400;

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 32px;
  --spacing-l: 64px;

  //improving text appearence on different defices and os
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: var(--border-radius);
  border: 0;
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  padding: var(--spacing-xxs) var(--spacing-s);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--spacing-s);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
